* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

.contentor {
    display: grid;
    justify-content: center;
}

.titulo {
    text-align: center;
    margin-top: 30px;
}

.tabuleiro {
    display: grid;
    width: 400px;
    grid-template-columns: repeat(3, 1fr);
    margin: 20px;
}

.casa {
    border: 1px solid black;
    height: 200px;
    text-align: center;
    padding: 81px 0;
    font-size: 30px;
}

.inputs {
    display: grid;
    justify-content: center;
    gap: 20px;
}

input {
    border-radius: 4px;
    padding: 5px;
}

#modos-jogo {
    display: flex;
    justify-content: center;
    margin: 20px 0;
    gap: 20px;
}

#iniciar, #reiniciar {
    padding: 5px;
    border-radius: 4px;
    background-color: blue;
    color: white;
}